

.cardpost {
    width: 385px;
    border: none;
    border-radius: 10px;
    background-color: #BAC3FE;
    margin-top: 40px;
}







/* ----- Product Section ----- */
.product {
	display: grid;
	grid-template-columns: 0.9fr 1fr;
	margin: auto;
	padding: 2.5em 0;
	min-width: 250px;
	background-color: #cdd4ff;
	border-radius: 5px;
    height: 400px;
    margin-bottom: 100px;
}

/* ----- Photo Section ----- */
.product__photo {
	position: relative;
}

.photo-container {
	position: absolute;
	left: -2.5em;
	display: grid;
	grid-template-rows: 1fr;
	max-width: 200px;
	
	border-radius: 6px;
	box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
    height: 350px;

}
.imagePost{
    position: absolute;
    height: 370px; 
    max-width: 200px;
}


	




/* ----- Informations Section ----- */
.product__info {
	padding: 0.8em 0;
}



.price {
	color: rgb(19, 30, 196);
	font-size: 30px;


}

.location{
    color: grey;
}

.description {
	clear: left;
	margin: 2em 0;
    
}
	
.titletype{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#697dfc;
    font-size: 15px;
margin-bottom: 10px;
}
.decs{
    color:#697dfc;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.btPost{
    border-radius: 50%;
    background-color: #f76008;
    height: 50px;
    width: 50px;
    margin-right: 50px;
    color: #FFFFFF ;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

    font-size: 30px;
}
.bts{
    margin-top: 40px;
    margin-left: -20px;

}


.btedit{
    border-radius: 50%;
    background-color: #08aff7;
    height: 50px;
    width: 50px;
    margin-right: 50px;
    color: #FFFFFF ;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

    font-size: 30px;
}



.modalconfirm {		
    color: #636363;
    width: 400px;
    margin: 30px auto;
}
.modalconfirm .modalcontent {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modalconfirm .modalheader {
    border-bottom: none;   
    position: relative;
}
.modalconfirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modalconfirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modalconfirm .modalbody {
    color: rgb(122, 117, 117);
    margin-top: 20px;
}
.modalconfirm  {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modalconfirm  a {
    color: #999;
}		
.modalconfirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modalconfirm .iconbox i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modalconfirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #575a5a;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modalconfirm .btninfo {
    background: #c1c1c1;
}
.modalconfirm .btninfo:hover, .modalconfirm .btninfo:focus {
    background: #a8a8a8;
}
.modalconfirm .btndanger {
    background: #f15e5e;
}
.modalconfirm .btndanger:hover, .modalconfirm .btndanger:focus {
    background: #ee3535;
}
.triggerbtn {
    display: inline-block;
    margin: 100px auto;
}


.confirm{
    height: 350px;
    margin-top: 20px;
}

.x{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    color: #ee3535;
}
.btsave{
    border-radius:6px;
    background-color: #f70808;
    height: 50px;
    width: 100px;
    margin-right: 50px;
    color: #FFFFFF ;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

    font-size: 30px;
}
.btcancel{
    border-radius:6px;
    background-color: #a8a8a8;
    height: 50px;
    width: 100px;
    margin-right: 50px;
    color: #FFFFFF ;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

    font-size: 30px;
}
.descriptionPost{
    font-size: 15px;
}