.hostProfile{
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}
.profileForm{
    margin-top: 70px;
    margin-bottom: 50px;

}

.profileTitl{
    border-bottom: 1px solid #86909c;
    margin-bottom: 20px;
    color:#BAC3FE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.adresse{
    margin-bottom: 100px;

}
.profile-nav, .profile-info{
    margin-top:30px;   
}

.profile-nav .user-heading {
    background: #BAC3FE ;
    color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    padding: 30px;
    text-align: center;
}

.profile-nav .user-heading.round a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(255,255,255,0.3);
    display: inline-block;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    height: 50px;
}

.profile-nav .user-heading a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-nav .user-heading p {
    font-size: 12px;
}

.profile-nav ul {
    margin-top: 1px;
}

.profile-nav ul > li {
    border-bottom: 1px solid #ebeae6;
    margin-top: 0;
    line-height: 30px;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: 5px solid #fff;
}

.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a {
    background: #f8f7f5 !important;
    border-left: 5px solid #BAC3FE ;
    color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

.profile-nav ul > li > a > i{
    font-size: 16px;
    padding-right: 10px;
    color: #bcb3aa;
}

.r-activity {
    margin: 6px 0 0;
    font-size: 12px;
}



.info{
    font-size: 15px;
     font-weight: bold;  
}

.bio-graph-info {
    color: #89817e;
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    
}

.bio-graph-info h1 {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 20px;
}
.posts{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

h1::after{
    background: white;

}










